<body>
    <div class="main-container">

        <div class="settings">
            <div id="settings-btn" class="theme-green">
                <i class="fas fa-cog"></i>
            </div>
            <div id="settings-panel" class="theme-green">
                <!-- volume -->
                <div class="settings-item" id="volume-slider">
                    <div class="label">
                        Volume: <span id="volume-value"></span>
                    </div>
                    <div class="slider">
                        <input id="volumeSlider" class="theme-green" type="range" min="0" max="100" value="0.5">
                    </div>
                </div>

                <!-- color themes -->
                <div class="settings-item" id="color-themes">
                    <div class="label">Theme: </div>
                    <div id="theme-selector-container">
                        {{#each themes}}
                        <div 
                            class="theme-selector-item" 
                            style="background-color: rgb({{rgb_primary}});)"
                            color-name = {{color_name}}
                            primary = {{rgb_primary}}
                            foreground = {{rgb_foreground}}
                            background = {{rgb_background}}
                            >
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- display style -->
                <div class="settings-item" id="display-style">
                    <div class="label">Display Style: </div>
                    <select id="display-style-selector" class="theme-green">
                        <option value="rect">Bars</option>
                        <option value="point-waveform">Dots-Waveform</option>
                        <option value="point-spectrum">Dots-Spectrum</option>
                        <option value="line">Line</option>
                    </select>
                </div>
                
                <!-- upload link to youtube -->
                <div class="settings-item" id="create-playlist-container">
                    <div class="label">Import Youtube Audio:</div>
                    <form>
                        <input type="text" id="import-link-input" name="youtube-link" />
                        <button id="upload-yt-link-btn" class="btn theme-green">Import</button>
                    </form>

                </div>
            </div>
        </div>


        <div id="waveform"></div>
        <div id="player">
            <div id="song-info">
                <div id="song-name" class="theme-green"></div>
                <div id="artist-name" class="theme-green"></div>
            </div>
            <div class="player-controls">
                <div id="previous-track" class="theme-green skip-track">
                    <i class="skip-icon fas fa-backward"></i>
                </div>
                <div id="play-btn" class="theme-green">
                    <i id="play-icon" class="fas fa-play fa-lg"></i>
                </div>
                <div id="next-track" class="theme-green skip-track">
                    <i class="skip-icon fas fa-forward"></i>
                </div>
            </div>
        </div>

    </div>
</body>
